* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #2C6E49;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.heading {
    color: white;
    font-size: 2.5rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 300px;
    height: 300px;
    transform: scale(1); /* Base scale for hover effect */
    transition: transform 0.3s ease-in-out;
}

.boxes:hover {
    transform: scale(1.05); /* Slightly enlarge grid on hover */
}

.box {
    width: 100px;
    height: 100px;
    background-color: #FFC9B9;
    border: 2px solid #D9BF77;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 2rem;
    color: #2C6E49;
}

.box:hover {
    background-color: #FFDAB5;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.resetBtn {
    width: 120px;
    height: 40px;
    font-size: 1rem;
    background-color: #FFC9B9;
    color: #2C6E49;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top:20px;
    transition: background-color 0.3s, transform 0.3s;
}

.resetBtn:hover {
    background-color: #FFDAB5;
    transform: scale(1.05);
}
